

.dialogs {
    display: grid;
    grid-template-columns: 200px 200px
}

.dialogsItems {
    padding: 10px;
    color: white;
}
.dialogsItems.active{
    color: gold;
}

.messages{
    padding: 10px;
}
.dialog{

}

.messages .message{
    color: white;
}